<div class="hero">
<br/>

	<div class="frosty col-xs-10 col-xs-offset-1 text-center">
		<br />
		<h1>Learn Sports and Play like Professional Players</h1>
		<br />
		<h2>THE BEGINNING IS ALWAYS TOUGH.
			<p>BUT ONCE YOU ARE IN IT
			YOU BECOME UNSTOPPABLE.</P>
		</h2>
		<br />
		<%= link_to 'Learn More', courses_path, class: 'btn btn-success' %>
		<br/><br/>
	</div>
</div>
<br />
<div class="col-xs-10 col-xs-offset-1 features text-center feature">
	  <div class="col-sm-4">
	     <%=link_to 'Play with Lionel Messi', course_path(15)%>
	  </div>

	  <div class="col-sm-4">
	     <%=link_to 'One on One with Michael Jordan', course_path(16)%>
	  </div>

	  <div class="col-sm-4">
	     <%=link_to 'Become Arnold Schwarzenegger', course_path(17)%>
	  </div>
</div>